%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%
%% Packaging
%%
{package_name, "serv"}.
{package_install_name, "serv"}.
{package_install_user, "serv"}.
{package_install_group, "serv"}.
{package_install_user_desc, "Serv user"}.
{package_commands, {list, [[{name, "serv"}], [{name, "serv-admin"}]]}}.
{package_shortdesc, "Serv is a distributed message middleware"}.
{package_desc, "Serv is a distributed message middleware"}.
{bin_or_sbin, "sbin"}.
{package_patch_dir, "patches"}.
{solaris_pkgname, "LEEserv"}.
{license_type, "BSD 3"}.
{copyright, "2014 HenryLee(henglinli@gmail.com)"}.
{vendor_name, "HenryLee"}.
{vendor_url, "https://henglinli.github.io"}.
{vendor_contact_name, "HenryLee"}.
{vendor_contact_email, "henglinli@gmail.com"}.
{cuttlefish_conf, "serv.conf"}.