{deps,[
	%%{thrift, ".*"},
	%%{cowboy, ".*", {git, "https://github.com/extend/cowboy.git"}},
	{ranch, ".*", {git, "https://github.com/extend/ranch.git"}},
	{espdy, ".*", {git, "https://github.com/RJ/erlang-spdy.git"}},
	%%{boss_db, ".*", {git, "git://github.com/ChicagoBoss/boss_db.git"}},
	{protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git"}}
	]}.
%%{pulgin_dir, ["deps/boss_db/priv/rebar"]}.
%%{plugins, [boss_db_rebar]}.
{sub_dirs, ["rel"]}.
%{lib_dirs, ["deps"]}.
