%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{sub_dirs, ["rel", "apps/serv", "apps/serv_client", "apps/serv_kv"]}.

{deps, [
        {node_package, ".*", {git, "https://github.com/basho/node_package.git", {branch, "develop"}}},
        %%{poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
        %%{sidejob, ".*", {git, "https://github.com/basho/sidejob.git", {branch, "develop"}}},
        {riak_core, ".*", {git, "https://github.com/basho/riak_core.git", {branch, "develop"}}},
        %%{webmachine, "1.10.5", {git, "git://github.com/basho/webmachine.git", {tag, "1.10.5"}}},
        {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", {branch, "develop"}}}
        %%{riak_api, ".*", {git, "https://github.com/basho/riak_api.git", {branch, "develop"}}},
        %%{gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {branch, "master"}}},
        %%{riak_dt, ".*", {git, "https://github.com/basho/riak_dt.git", {branch, "develop"}}},
       ]}.

{erl_opts, [native, debug_info, warnings_as_errors,
            warn_obsolete_guard,
            {parse_transform, lager_transform}]}.
