%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{sub_dirs, ["rel", "apps/serv"]}.
%%
{deps, [
	{node_package, ".*", {git, "https://github.com/basho/node_package.git", {branch, "develop"}}},
	{riak_core, ".*", {git, "https://github.com/basho/riak_core.git", {branch, "develop"}}},
        {lets, ".*", {git, "https://github.com/norton/lets.git", {branch, "dev"}}}
       ]}.
%%
{erl_opts, [native, no_debug_info,  warnings_as_errors,
	    warn_obsolete_guard,
	    {parse_transform, lager_transform}]}.
