%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{sys, [
       {lib_dirs, ["../deps/", "../apps/"]},
       {rel, "serv", "git",
	[
	 kernel,
	 stdlib,
	 sasl,
	 serv
	]},
       {rel, "start_clean", "",
	[
	 kernel,
	 stdlib
	]},
       {boot_rel, "serv"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
			   "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, serv, [{incl_cond, include}]}
      ]}.

{target_dir, "serv"}.

{overlay_vars, "vars.config"}.

{overlay, [
	   {mkdir, "data/ring"},
	   {mkdir, "log/sasl"},
	   {mkdir, "etc"},

	   %% Copy base files for starting and interacting w/ node
	   {copy, "../deps/node_package/priv/base/erl",
		  "{{erts_vsn}}/bin/erl"},
	   {copy, "../deps/node_package/priv/base/nodetool",
		  "{{erts_vsn}}/bin/nodetool"},
	   {copy, "../deps/cuttlefish/cuttlefish",
		  "{{erts_vsn}}/bin/cuttlefish"},
	   {template, "../deps/node_package/priv/base/runner", "bin/serv"},
	   {template, "../deps/node_package/priv/base/env.sh",
		  "lib/env.sh"},
	   {template, "../deps/node_package/priv/base/app_epath.sh",
		  "lib/app_epath.sh"},

	   %% Copy config files

	   %% Cuttlefish Schema Files have a priority order.
	   %% Anything in a file prefixed with 00- will override
	   %% anything in a file with a higher numbered prefix.

	   %% Please only use 0[0-9]-*.schema for development purposes
	   %% NOTHING PERMANENT
	   {template, "../apps/serv/priv/serv.schema", "lib/10-serv.schema"},
	   {template, "../deps/cuttlefish/priv/erlang_vm.schema", "lib/11-erlang_vm.schema"},
	   {template, "../deps/riak_core/priv/riak_core.schema", "lib/12-riak_core.schema"},
	   %%{template, "../deps/riak_api/priv/riak_api.schema", "lib/13-riak_api.schema"},
	   %%{template, "../deps/riak_kv/priv/riak_kv.schema", "lib/14-riak_kv.schema"},
	   {template, "../deps/riak_sysmon/priv/riak_sysmon.schema", "lib/15-riak_sysmon.schema"},
	   %%{template, "../deps/bitcask/priv/bitcask.schema", "lib/16-bitcask.schema"},
	   %%{template, "../deps/bitcask/priv/bitcask_multi.schema", "lib/17-bitcask_multi.schema"},
	   %%{template, "../deps/riak_kv/priv/multi_backend.schema", "lib/20-multi_backend.schema"},
	   {template, "../deps/eleveldb/priv/eleveldb.schema", "lib/21-leveldb.schema"},
	   {template, "../deps/eleveldb/priv/eleveldb_multi.schema", "lib/22-leveldb_multi.schema"},

	   %% Copy additional bin scripts
	   %% {template, "files/serv", "bin/serv"},
	   {template, "files/serv-admin", "bin/serv-admin"}
	   ]}.
