%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{sys, [
       {lib_dirs, ["../deps/", "../apps/"]},
       {rel, "serv", "0.0.1",
        [
         kernel,
         stdlib,
         sasl,
	 serv_pb,
         serv
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "serv"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, serv, [{incl_cond, include}]},
       {app, serv_pb, [{incl_cond, include}]}
      ]}.

{target_dir, "serv"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/serv", "bin/serv"},
           {template, "files/serv-admin", "bin/serv-admin"}
           ]}.
